*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100svh;
    background-color:  rgba(11, 11, 121, 0.884);
    background-image: linear-gradient(to top right, lightblue 0%,rgba(0, 0, 255, 0.507) 20%, rgba(11, 11, 121, 0.884) 40%) ;
    display: grid;
    align-items: center;
    justify-items: center;
}

.main-container{
    background-color:rgba(56, 56, 218, 0.637);
    box-shadow: 1px 5px 5px 5px rgba(13, 13, 82, 0.534);;
    height: 55svh;
    width: 40vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: wheat;
}

h3{
    margin-left: 5px;
    letter-spacing: 1px;
}

.top-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1.55rem;
    border-bottom: 1px solid rgba(10, 10, 104, 0.527);
   
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: space-around;

    ion-icon{
        font-size: 2.5rem;
        margin-left: 1rem;
    }
}

img{
    aspect-ratio: 1;
    width: 25%;
    border-radius:50% ;
    border: 3px solid rgba(86, 86, 255, 0.719);

    &:hover{
        cursor: pointer;
        scale: 1.05;
        border: 3px solid rgba(187, 187, 253, 0.562);
    }
}

.add-btn{
    width: 7rem;
    height: 2rem;
    background-color: rgba(61, 157, 189, 0.911);
    box-shadow: 1px 4px 3px 2px rgba(35, 87, 104, 0.603);;
    color: wheat;
    border: none;

    &:hover{
        cursor: pointer;
        scale: 1.05;
    }

    &:active{
        scale: .95;
    }
}

.bot-container{
    padding-top:1rem;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: .5rem;
    

    *{
        padding: 1rem .25rem;
        border-radius: 10px;
    }

    *:hover{
        background-color:rgba(56, 56, 218, 0.397);

    }
}

